body {
  background-image: url('images/Background.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  
}

/* HEADER */

header {
  background-color: rgb(173, 255, 239);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

header .containerheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 2rem;
  gap: 34rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 960px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* BODY */

.mint {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
  
}


.containermain {
    align-items: center;
    justify-content: center;
    max-width: 332px;
    left: 400px;
    position: absolute;
    top: 353px;
}

/* MINT SPINNER */

.mint-spinner {
    width: 100%;
    max-width: 420px;
    max-height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
  .mint-spinner .input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mint-spinner .input-group-append,
  .mint-spinner .input-group-prepend {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    flex: 0 0 60px;
    padding-top: 5%;
  }

  .mint-spinner .input-group-append .btn,
  .mint-spinner .input-group-prepend .btn {
    width: 20px;
    color: rgb(255, 255, 255);
    height: 30px;
    display: flex;
    border: 0 none;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    transition: all 0.3s ease-out;
    padding-top: 1rem;
  }

   .mint-spinner .form-control {
      color: #000;
      border: #000;
      border-radius: 1rem;
      font-size: 40px;
      box-shadow: none;
      background-color: transparent;
      max-width: calc(100% - 120px);
      width: 160px;
      padding-left: 25%;
  }

  /* BUTTONS */

  .btn {
    display: flex;
    padding: 1rem 2rem;
    background: rgb(162, 112, 255);
    color: #ffffff;
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
    box-shadow: var(--header-shadow);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border-radius: 2rem;
  }

  .btn:disabled {
    cursor: default;
  }
  
  .wallet-btn {
    background-image: url("images/connect.png");
    margin-left: 2rem;
    border-color: #000;
    box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
  }
  .mint-btn {
      background-image: url("images/mint.png");
      height: 80px;
      font-family: var(--font-secondary);
      font-style: italic;
      font-weight: 700;
      font-size: 5rem;
      margin-left: 40px;
      margin-top: 55px;
      border-color: #000;
      box-shadow: 10px 10px 10px 0 #000;
      background-size: cover;
      width: 180px;
  }
  .elPkvL {
    width: 600px;
    z-index: 99999 !important;
    position: absolute !important;
    top: 120px;
    left: 340px;

  }

.jSNuTb {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px !important;
    font-weight: 900;
    text-align: center;
    padding-bottom: 40px!important;
    display: block;
    margin-bottom: 0!important;
}

  /* MEDIA QUERIES*/
  
  @media screen and (max-width: 760px) {
    .mint-spinner {
      width: 100%;
      max-width: 100%;
    }
    .wallet-btn {
      margin-left: 0;
      padding: 0.5rem 1rem;
      max-width: 8rem;
    }
    header .containerheader {
        gap: 0;
    }
    .logo img{
       width: 180px !important;
        height: auto !important;
    }
    .elPkvL {
        width: 75% !important;
        top: 144px;
        left: 15%;
    }
    .jSNuTb {
      font-size: 30pt !important;
    }
   .mint-btn {
        width: 230px!important;
        height: 100px!important;
        margin-left: 0!important;
        display: unset!important;
        background-size: cover!important;
    }
    .container, .mint {
        display: unset !important;
        width: 100% !important;
    }
    .containermain {
        max-width: 320px;
        left: 20px;
        position: absolute;
        top: 430px;
    }

}

